/* APP COMPONENT */

/* HEADER */
/* ************ */

:root {
 --header-height: 150px;
}

.header {
  display: flex;
  flex-direction: column;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: lightgray;
}

@media screen and (min-width:768px) {
    .header {
      position: relative;
      flex-direction: row;
      padding-bottom: 20px;
      border-bottom: 1px solid gainsboro;
    }
}

.wrapper-logo {
  display: flex;
  justify-content: flex-start;
}

.logo {
  min-width: 50px;
  max-width: 100px;
  align-self: center;
}

@media screen and (min-width:768px) {
    .logo {
      max-width: 150px;
    }
}

.logo img {
  pointer-events: none;
}

.title {
  font-size: calc(1rem + 2vmin);
  margin-bottom: 5px;
}

.subtitle {
  font-size: calc(.5 + 2vmin);
  margin-top: 0;
}

/* Section Grid Products */
/* ********************* */

.cart {
  flex: 1;
  text-align: right;
  position: relative;
}

.cart .icon {
  padding: 10px 30px;
  font-size: 1.5rem;
}

.cart .icon span {
  padding-left: 10px;
}

.cart .items {
  display: none;
}

.cart .items.open {
  background: rgb(101, 194, 101);
  bottom: 0;
  display: block;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;
}


/* Section Grid Products */
/* ********************* */
section.products {
  padding-top: var(--header-height);
}

@media screen and (min-width:768px) {
    section.products {
      padding-top: 0;
    }
}


section.products > div {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  section.products > div {
    flex-direction: row;
    justify-content: space-between;
  }
}

.grid-product {
  padding: 20px;
}

/* Section Footer */
/* ********************* */


.footer {
}

/* Atoms */
/* ********************* */

.button {
}
