/* APP COMPONENT */



/* HEADER */
/* ************ */


@media screen and (min-width:480px) {
  :root {
  --header-height: 100px;
  }
}

.header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  height: var(--header-height);
  justify-content: flex-start;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

@media screen and (min-width:768px) {
    .header {
      position: relative;
      /* flex-direction: row; */
      padding-bottom: 20px;
      border-bottom: 1px solid gainsboro;
    }
}

.header > div {
  align-self: center;
}

.logo {
  border-right: 1px solid lightgray;
  max-width: 70px;
  min-width: 50px;
  padding: 10px;
}

@media screen and (min-width:768px) {
    .logo {
      max-width: 100px;
    }
}

.logo img {
  pointer-events: none;
}

.name {
}

.title {
  font-size: calc(1rem + 2vmin);
  margin: 0;
}


.subtitle {
  font-size: calc(.5 + 1.5vmin);
  margin: 0;
}

@media screen and (min-width:480px) {
  .title {
    font-size: calc(1rem + 2vmin);
  }
}

@media screen and (min-width:768px) {
  .title {
    font-size: 2rem;
  }
}



/* Section Grid Products */
/* ********************* */

.cart {
  flex: 1;
  text-align: right;
  position: relative;
}

.cart .icon {
  font-size: 1rem;
  padding-right: 1rem;
}

.cart .icon span {
  padding-left: 10px;
}

.cart .items {
  display: none;
}

.cart .items.open {
  background: white;
  bottom: 0;
  display: block;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  padding-bottom: 10rem;
  position: fixed;
  right: 0;
  top: 80px;
}

.cart li {
  border-bottom: 1px solid lightgray;
}


/* Section Grid Products */
/* ********************* */
section.products {
  padding-top: var(--header-height);
}

@media screen and (min-width:768px) {
    section.products {
      padding-top: 0;
    }
}


section.products > div {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  section.products > div {
    flex-direction: row;
    justify-content: space-between;
  }
}

.grid-product {
  padding: 20px;
}

/* Section Footer */
/* ********************* */


.footer {
}

/* Atoms */
/* ********************* */

.button {

}
