* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contenedor {
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
    min-height: calc( 100vh - 20px );
    padding: 20px 30px 0 30px;
}
