/* utilities */

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    margin: 0 auto;
    max-width: 1250px;
    min-height: 100vh;
    padding: 1rem 2rem 0 2rem;
}

div, section, aside, footer, header {
  outline: 1px solid red;
}

.u-wrapper-padding {
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}